<mat-toolbar color="primary">
  <!--App header with placement button-->
  <mat-toolbar-row class="main-toolbar">
    <span>Toy Simulator App</span>
    <button [disabled]="face"  mat-raised-button color="accent" (click)="openPlaceDialog()">
      Place
    </button>
  </mat-toolbar-row>
  <!--Action buttons header disabled if toy not placed-->
  <mat-toolbar-row class="secondary-toolbar">
    <button [disabled]="face === null" class="mr-5" mat-raised-button color="accent" (click)="onLeftRight('L')">
      Left
    </button>
    <button [disabled]="face === null" class="mr-5" mat-raised-button color="accent" (click)="onLeftRight('R')">
      Right
    </button>
    <button [disabled]="face === null" class="mr-5" mat-raised-button color="accent" (click)="onMoveAction()">
      Move
    </button>
    <button [disabled]="face === null" class="mr-5" mat-raised-button color="accent" (click)="showReport()">
      Report
    </button>
    <!-- Reset action set initial values for toy placement style and face set to null -->
    <button [disabled]="face === null" mat-raised-button color="accent" (click)="face = null;toyPosition = {
      left: '0px',
      bottom: '0px',
      transform: 'rotate(0deg)',
      display: 'none'
    };">
      Reset
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="toy-table">
  <!--Toy table grid with  5x5 dimensions-->
  <mat-grid-list cols="5" #toyTable>
    <mat-grid-tile *ngFor="let tile of totalTableToyCards; let i = index;" [colspan]="1" [rowspan]="1">
     
    </mat-grid-tile>
    <!--Toy tile show when face direction is exist after placement -->
    <div  class="toy-tile" [ngStyle]="toyPosition">
      <span class="material-icons">
        accessibility_new
      </span>
    </div>
  </mat-grid-list>
</div>